body  {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.aside-menu {
  left: 0;
  top: 0;
  width: 320px;
  box-shadow: 0 0 60px -20px #454F7E;
  position: fixed;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    cursor: pointer;
    border: none;
    background-position: center;
    background-size: cover;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    animation-name: rotate, coloring;
    animation-duration: 1s, 2s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

@keyframes coloring {
  from {
    background-color: #FF3E79;
  }
  to {
    background-color: red;
  }
}

/*ВЕРХНЕЕ МЕНЮ*/

.upper-block {
    display: flex;
    justify-content: space-between;
    height: 116px;
}


.upper-btn {
    margin: 23px 24px;
}

.logo {
    margin-top: 19px;
    position: absolute;
    margin-left: 81px;
}

/*ВЫПАДАЮЩЕЕ МЕНЮ*/

.main-menu-block {
    width: 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.main-menu-block a {
    text-decoration: none;
    font-family: 'TTLakes-mail';
    font-size: 16px;
    color: black;
    position: relative;
    margin-top: 16px;
}

.main-menu-block a:first-child {
    margin-top: 0;
}


.main-menu {
    display: flex;
    align-items: center;
}

.main-menu-block a:hover {
    display: flex;
    color: #7E7E82;
    transition-duration: 0.7s;
}

a .highlight {
    margin-right: 20px;
    height: 32px;
    opacity: 0;
}

.main-menu:hover .highlight {
    opacity: 1;
    transition-duration: 0.7s;
}

/*БЛОК ИКОНКИ*/

.footer-container {
    padding-left: 24px;
    padding-top: 268px;
}

.footer-icons__item {
    list-style: none;
}

.footer-icons {
    display: flex;
    padding: 0;
}

.footer-btn {
    margin-right: 16px;
}

/*БЛОК ИНФО*/

.info-text {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    font-style: normal;
}

.mail {
    font-family: 'TTLakes-mail', sans-serif;
    font-size: 16px;
    margin-top: 16px;
    text-decoration: none;
    color: black;
}

.phone {
    font-family: 'TTLakes-phone', sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 12px;
    text-decoration: none;
    color: black;
}

/*ВЫБОР ЯЗЫКА*/

.lang-container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 32px;
    list-style: none;
    padding: 0;
}

.item-style {
    text-decoration: none;
    color: black;
}

.lang-container__item {
    font-family: 'TTLakes-mail', sans-serif;
    font-size: 16px;
    margin-top: auto;
    margin-right: 7px;
}

.item-style:focus,
.item-style:hover {
    color: #7E7E82    ;
}

/*ШРИФТЫ*/

@font-face {
    font-family: 'TTLakes-mail';
    src: url(../fonts/TTLakes-Medium.woff) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: 'TTLakes-phone';
    src: url(../fonts/TTLakes-Bold.woff) format("woff");
    font-weight: 700;
}