html,
body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8
}

      /*HEADER*/
.upper-header {
    display: flex;
    font-family: 'TTLakes-mail';
    font-size: 16px;
    padding: 16px 0;
    color: #7E7E82;
    min-height: 56px;
    max-height: 80px;
    width: 100vw;
    box-sizing: border-box;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
}

.swiper-slide,
.menu-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.swiper-slide__button {
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-sizing: border-box;
    width: 224px;
    height: 72px;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    margin-bottom: 16px;
}

.button-logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    width: auto;
}

.go-arrow {
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
}

.apple {
    height: 44px;
}

.lenovo {
    height: 32px;
}

.viewsonic, .android {
    height: 21px;
}

.samsung, .huawei, .zinc {
    height: 40px;
}

.bosch {
    height: 29px;
}

.hp {
    height: 52px;
}

.acer {
    height: 24px;
}

.sony {
    height: 26px;
}

.swiper-slide__button:hover {
    box-shadow: inset 0 0 15px 3px #f3f3f3;
}

.toggle-view-button {
    display: flex;
    justify-content: space-between;
    height: 24px;
    font-family: 'TTLakes-mail';
    font-size: 16px;
    border: none;
    padding: 0;
    margin-left: 3vw;
    background-color: #F8F8F8;
}

.toggle-view-button::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: auto;
    background-image: url('../icons/arrows.svg');
    background-size: cover;
    margin-right: 9px;
}

.toggle-view-button:hover {
    cursor: pointer;
}


/*********************/

@media (max-width: 767px) {
    .upper-header {
        padding-left: 5vw;
    }

    .swiper-slide__button {
        width: 240px;
        margin-left: 5vw;
    }

    .swiper {
        margin-top: 16px;
        height: 114px;
    }

    .fader {
        position: absolute;
        height: 114px;
        width: 24px;
        right: 0;
        z-index: 1000;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }

    .toggle-view-button {
        display: none;
    }
}

@media (min-width: 768px) {
    .swiper-pagination {
        display: none;
    }

    .upper-header {
        height: 56px;
        padding-left: 3vw;
        margin-bottom: 24px;
    }

    .swiper-wrapper {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        padding-left: 3vw;
    }

    .swiper-wrapper__fader {
        display: none;
    }

    .swiper {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        margin-left: 3vw;
        margin-top: 40px;
    }
}

@media (768px <= width < 1120px) {
    .swiper-wrapper {
        max-width: 890px;
    }

    .swiper-slide__button {
        margin-right: 3vw;
        width: 224px;
    }

    .item-hidden,
    .item-hidden768 {
        display: none;
    }

    .item-shown,
    .item-shown768 {
        display: block;
    }
}

@media (min-width: 1120px) {
    .swiper-slide__button {
        margin-right: 2vw;
        width: 240px;
    }
    
    .item-hidden {
        display: none;
    }

    .item-shown {
        display: block;
    }
}




      /*ШРИФТЫ*/

@font-face {
    font-family: 'TTLakes-mail';
    src: url(../fonts/TTLakes-Medium.woff) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: 'TTLakes-phone';
    src: url(../fonts/TTLakes-Bold.woff) format("woff");
    font-weight: 500;
}